{% extends "viewer_site/layout_view.html" %}
{% block content_center %}
{% if error_message %}
<div class="span10 offset1">
  <div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>警告</strong> {{ error_message }}
  </div>
</div>
{% endif %}
<form class="form-inline" role="form" action="" method="post">
  <h3>
    <p class="text-center">
      请输入档案号
    </p>
  </h3>
  <p class="text-center">
    <input id="input_archieve_id" class="span8" type="text" name="archieve_id" style="font-size:40px;line-height:45px;height:50px">
  </p>
  <p class="text-center">
    <button class="btn btn-primary" type="submit">完成</button>
  </p>
</form>
<p class="text-center">
  <input type="button" value="1" onclick="appendChar(1)" style="width:22%; height:50px; font-size:25px;"/>
  <input type="button" value="2" onclick="appendChar(2)" style="width:22%; height:50px; font-size:25px;"/>
  <input type="button" value="3" onclick="appendChar(3)" style="width:22%; height:50px; font-size:25px;"/>
  <br />
  <br />
  <input type="button" value="4" onclick="appendChar(4)" style="width:22%; height:50px; font-size:25px;"/>
  <input type="button" value="5" onclick="appendChar(5)" style="width:22%; height:50px; font-size:25px;"/>
  <input type="button" value="6" onclick="appendChar(6)" style="width:22%; height:50px; font-size:25px;"/>
  <br />
  <br />
  <input type="button" value="7" onclick="appendChar(7)" style="width:22%; height:50px; font-size:25px;"/>
  <input type="button" value="8" onclick="appendChar(8)" style="width:22%; height:50px; font-size:25px;"/>
  <input type="button" value="9" onclick="appendChar(9)" style="width:22%; height:50px; font-size:25px;"/>
  <br />
  <br />
  <input type="button" value="0" onclick="appendChar(0)" style="width:22%; height:50px; font-size:25px;"/>
  <input type="button" value="X" onclick="appendChar(' ')" style="width:22%; height:50px; font-size:25px;"/>
  <input type="button" value="删除" onclick="backSpace()" style="width:22%; height:50px; font-size:25px;"/>
  <br />
</p>
{% endblock %}
{% block javascript_lib %}
<script language="javascript" type="text/javascript">
$(function (){
    document.getElementById('input_archieve_id').focus();
});

function appendChar(ch) {
    document.getElementById("input_archieve_id").value += ch;
}

function backSpace() {
    var sz = document.getElementById("input_archieve_id").value
    var ret = sz.substring(0, sz.length - 1);
    document.getElementById("input_archieve_id").value = ret;
}

</script>
{% endblock %}
