{% extends "base.html" %}
{% block user %}{{ User }}{% endblock %}
{% block title %}档案利用 - 当月统计<br /><small></small>{% endblock %}
{% block content %}
<div class="row-fluid">
  <div class="span8 offset2">
    <div id="container"></div>
  </div>
</div>
{% endblock %}
{% block jslib %}
<script src="/static/highcharts/4.0.1/highcharts.js"></script>
<script>
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: '档案利用 - 月份操作统计（{{ date }}）'
        },
        subtitle: {
            text: '数据内容为档案利用的次数'
        },
        xAxis: {
            categories: [
            {%- for row in rows_print -%}
                {%- if loop.last -%}
                '{{ row.mingcheng }}'
                {%- else -%}
                '{{ row.mingcheng }}',
                {%- endif -%}
            {%- endfor -%}
            ]
        },
        yAxis: {
            title: {
                text: '数量'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: '打印',
            data: [
            {%- for row in rows_print -%}
                {%- if loop.last -%}
                {{ row.counter }}
                {%- else -%}
                {{ row.counter }},
                {%- endif -%}
            {%- endfor -%}
            ],
        }, {
            name: '生成查询密码',
            data: [
            {%- for row in rows_code -%}
                {%- if loop.last -%}
                {{ row.counter }}
                {%- else -%}
                {{ row.counter }},
                {%- endif -%}
            {%- endfor -%}
            ],
        }, {
            name: '导出到终端',
            data: [
            {%- for row in rows_export -%}
                {%- if loop.last -%}
                {{ row.counter }}
                {%- else -%}
                {{ row.counter }},
                {%- endif -%}
            {%- endfor -%}
            ]
        }]
    });
});
</script>
{% endblock %}
