{% extends "base.html" %}
{% block user %}{{ User }}{% endblock %}
{% block title %}档案利用记录查询<br /><small></small>{% endblock %}
{% block content %}
<div class="row-fluid">
  <div class="span8 offset2">
    <form action="" method="post" class="form-inline">
      <label for="user_id">操作员</label>
      <select id="user_id" name="user_id">
        {% for u in users %}
        <option value="{{ u.id }}"{% if u.id==user_id_sel %} selected{% endif %}>{{ u.MingCheng }}</option>
        {% endfor %}
      </select>
      <br /><br />
      <input name="year_begin" class="span1" type="text" id="year_begin" value="{% if date_begin %}{{ date_begin.split('-')[0] }}{% endif %}">
      <label for="year_begin">年</label>
      <select name="month_begin" class="span2">
        <option value="01"{% if date_begin.split('-')[1] == '01' %} selected{% endif %}>一月</option>
        <option value="02"{% if date_begin.split('-')[1] == '02' %} selected{% endif %}>二月</option>
        <option value="03"{% if date_begin.split('-')[1] == '03' %} selected{% endif %}>三月</option>
        <option value="04"{% if date_begin.split('-')[1] == '04' %} selected{% endif %}>四月</option>
        <option value="05"{% if date_begin.split('-')[1] == '05' %} selected{% endif %}>五月</option>
        <option value="06"{% if date_begin.split('-')[1] == '06' %} selected{% endif %}>六月</option>
        <option value="07"{% if date_begin.split('-')[1] == '07' %} selected{% endif %}>七月</option>
        <option value="08"{% if date_begin.split('-')[1] == '08' %} selected{% endif %}>八月</option>
        <option value="09"{% if date_begin.split('-')[1] == '09' %} selected{% endif %}>九月</option>
        <option value="10"{% if date_begin.split('-')[1] == '10' %} selected{% endif %}>十月</option>
        <option value="11"{% if date_begin.split('-')[1] == '11' %} selected{% endif %}>十一月</option>
        <option value="12"{% if date_begin.split('-')[1] == '12' %} selected{% endif %}>十二月</option>
      </select>
      <label for="month_begin">月</label>
      <select name='day_begin' class="span1">
        <option value="01"{% if date_begin.split('-')[2] == '01' %} selected{% endif %}>1</option>
        <option value="02"{% if date_begin.split('-')[2] == '02' %} selected{% endif %}>2</option>
        <option value="03"{% if date_begin.split('-')[2] == '03' %} selected{% endif %}>3</option>
        <option value="04"{% if date_begin.split('-')[2] == '04' %} selected{% endif %}>4</option>
        <option value="05"{% if date_begin.split('-')[2] == '05' %} selected{% endif %}>5</option>
        <option value="06"{% if date_begin.split('-')[2] == '06' %} selected{% endif %}>6</option>
        <option value="07"{% if date_begin.split('-')[2] == '07' %} selected{% endif %}>7</option>
        <option value="08"{% if date_begin.split('-')[2] == '08' %} selected{% endif %}>8</option>
        <option value="09"{% if date_begin.split('-')[2] == '09' %} selected{% endif %}>9</option>
        {% for i in range(10, 32) %}
        <option value="{{ i }}"{% if date_begin.split('-')[2] == i %} selected{% endif %}>{{ i }}</option>
        {% endfor %}
      </select>
      <label for="day_begin">日</label>
      <span class="label label-info">至</span>
      <input name="year_end" class="span1" type="text" id="year_end" value="{% if date_end %}{{ date_end.split('-')[0] }}{% endif %}">
      <label for="year_end">年</label>
      <select name="month_end" class="span2">
        <option value="01"{% if date_end.split('-')[1] == '01' %} selected{% endif %}>一月</option>
        <option value="02"{% if date_end.split('-')[1] == '02' %} selected{% endif %}>二月</option>
        <option value="03"{% if date_end.split('-')[1] == '03' %} selected{% endif %}>三月</option>
        <option value="04"{% if date_end.split('-')[1] == '04' %} selected{% endif %}>四月</option>
        <option value="05"{% if date_end.split('-')[1] == '05' %} selected{% endif %}>五月</option>
        <option value="06"{% if date_end.split('-')[1] == '06' %} selected{% endif %}>六月</option>
        <option value="07"{% if date_end.split('-')[1] == '07' %} selected{% endif %}>七月</option>
        <option value="08"{% if date_end.split('-')[1] == '08' %} selected{% endif %}>八月</option>
        <option value="09"{% if date_end.split('-')[1] == '09' %} selected{% endif %}>九月</option>
        <option value="10"{% if date_end.split('-')[1] == '10' %} selected{% endif %}>十月</option>
        <option value="11"{% if date_end.split('-')[1] == '11' %} selected{% endif %}>十一月</option>
        <option value="12"{% if date_end.split('-')[1] == '12' %} selected{% endif %}>十二月</option>
      </select>
      <label for="month_end">月</label>
      <select name='day_end' class="span1">
        <option value="01">1</option>
        <option value="02">2</option>
        <option value="03">3</option>
        <option value="04">4</option>
        <option value="05">5</option>
        <option value="06">6</option>
        <option value="07">7</option>
        <option value="08">8</option>
        <option value="09">9</option>
        {% for i in range(10, 32) %}
        <option value="{{ i }}"{% if loop.last %}selected{% endif %}>{{ i }}</option>
        {% endfor %}
      </select>
      <label for="day_end">日</label>
      <br /><br />
      <button type="submit" class="btn btn-danger">检索</button>
      <button type="reset" class="btn">重置</button>
    </form>
    <table class="table table-hover table-striped">
      <caption></caption>
      <thead>
        <tr>
          <th>档案号</th>
          <th>身份证</th>
          <th>姓名</th>
          <th>档案利用类别</th>
          <th>利用时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
        <tr>
          <td>{{ row.DangAnHao }}</td>
          <td>{{ row.ShenFenZheng }}</td>
          <td>{{ row.XingMing }}</td>
          <td>{{ row.CaoZuo }}</td>
          <td>{{ row.RiQi }}</td>
          <td>
            <a href=/dangan/{{ row.id }}>查看档案</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
