{% extends "base.html" %}
{% block user %}{{ User }}{% endblock %}
{% block title %}当月统计<br /><small></small>{% endblock %}
{% block content %}
<div class="row-fluid">
  <div class="span8 offset2">
    <div id="container" style="height:2000px"></div>
  </div>
  <!-- <div class="span2">
    <h4>查看详细</h4>
    <ul>
      {% for row in counter_1 %}
      <li><a href="/chaxun/scan_log?user_id={{ row.id }}&date_begin={{ date }}-01&date_end={{ date }}-31">{{ row.MingCheng }}</a></li>
      {% endfor %}
    </ul>
  </div> -->
</div>
{% endblock %}
{% block jslib %}
<script src="/static/highcharts/3.0.9/highcharts.js"></script>
<script>
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: '月份操作统计（{{ date }}）'
        },
        subtitle: {
            text: '数据内容为扫描并上传档案的份数'
        },
        xAxis: {
            categories: [
            {%- for name in counter_1.keys() -%}
                {%- if loop.last -%}
                '{{ name }}'
                {%- else -%}
                '{{ name }}',
                {%- endif -%}
            {%- endfor -%}
            ]
        },
        yAxis: {
            title: {
                text: '数量'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: '月份操作统计（{{ date }}）',
            data: [
            {%- for name in counter_1.keys() -%}
                {%- if loop.last -%}
                {{ counter_1[name] }}
                {%- else -%}
                {{ counter_1[name] }},
                {%- endif -%}
            {%- endfor -%}
            ]
        }]
    });
});
</script>
{% endblock %}
