{% extends "base.html" %}
{% block user %}{{ User }}{% endblock %}
{% block title %}当月统计<br /><small></small>{% endblock %}
{% block content %}
<div class="row-fluid">
  <div class="span8 offset2">
    <div id="container"></div>
  </div>
</div>
{% endblock %}
{% block jslib %}
<script src="/static/highcharts/3.0.9/highcharts.js"></script>
<script>
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: '月份操作统计（{{ date }}）'
        },
        subtitle: {
            text: '数据内容为扫描并上传档案的份数'
        },
        xAxis: {
            categories: [
            {%- for row in counter_1 -%}
                {%- if loop.last -%}
                '{{ row[0] }}'
                {%- else -%}
                '{{ row[0] }}',
                {%- endif -%}
            {%- endfor -%}
            ]
        },
        yAxis: {
            title: {
                text: '数量'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: '月份操作统计（{{ date }}）',
            data: [
            {%- for row in counter_1 -%}
                {%- if loop.last -%}
                {{ row[1] }}
                {%- else -%}
                {{ row[1] }},
                {%- endif -%}
            {%- endfor -%}
            ]
        }]
    });
});
</script>
{% endblock %}
