<!DOCTYPE html>
<html>
<head>
  <title>档案管理</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ STATIC_URL }}static/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body style="background:black url({{ STATIC_URL }}image/login_1.jpg);background-size:cover;">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span8 offset2">
        <h2><p class="text-center"><br /><br />哈尔滨市人力资源市场档案管理系统</p></h2>
        <h4><p class="text-center">Version 2</p></h4>
        <h3><p class="text-center">哈尔滨市人力资源市场</p></h3>
      </div>
    </div>
    <br />
    <br />
    <div class="row-fluid">
      <div class="span5 offset1" style="background:gainsboro;filter:alpha(Opacity=90);-moz-opacity:0.9;opacity: 0.9;">
        <p class="muted text-center">更新记录</p>
        <ul>
          {% for e in event %}
          <li>{{ e.content }}({{ e.date }})</li>
          {% endfor %}
        </ul>
        <hr />
        <p class="muted">技术支持电话：18686853420</p>
      </div>
      <div class="span3 offset2" style="background:white;filter:alpha(Opacity=90);-moz-opacity:0.9;opacity: 0.9;">
        <form class="form-inline" action="" method='post'>
          <legend><p class=text-center><strong>系统登录</strong></p></legend>
          <p class="text-center">
            <label for="account">账号</label>
            <input type="text" id="account" name="account" class="span8">
          </p>
          <p class="text-center">
            <label for="password">密码</label>
            <input type="password" id="password" name="password" class="span8">
          </p>
          <p class="text-center"><button type="submit" class="btn btn-primary">确认</button></p>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
