{% extends "layout_admin.html" %}
{% block content_center %}
<h3>删除档案<small> 删除后数据不能恢复，请确认后再点击【删除】</h3>
<hr />
<form class="form-inline" action="" method="post">
  <label class="control-label" for="archieve_id">档案号</label>
  <input class="span2" type="text" id="archieve_id" name="archieve_id">
  |
  <label class="control-label" for="id_card">身份证</label>
  <input class="span3" type="text" id="id_card" name="id_card">
  |
  <label class="control-label" for="name">姓名</label>
  <input class="span2" type="text" id="name" name="name">
  <button class="btn btn-primary" type="submit">检索</button>
</form>
<table class="table tabel-hover">
  <thead>
    <tr>
      <td>档案号</td>
      <td>身份证</td>
      <td>姓名</td>
      <td>操作</td>
    </tr>
  </thead>
  <tbody>
    {% for row in data %}
    <tr>
      <td>{{ row[1] }}</td>
      <td>{{ row[2] }}</td>
      <td>{{ row[3] }}</td>
      <td><a href="/admin/delete_archieve?archieve_id={{ row[0] }}">删除</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
