<!DOCTYPE html>
<html>
<head>
  <title>档案管理</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link rel="shortcut icon" href="static/image/favicon.ico">
</head>
<body style="background-color:dimgrey">
  <div class="container" style="background-color:lavender">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><strong>档案管理系统</strong></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">
            <span class="glyphicon glyphicon-home"></span> 首页
          </a></li>
          <li><a href="/daoru">
            <span class="glyphicon glyphicon-user"></span> 导入基础数据
          </a></li>
          <li><a href="/luru">
            <span class="glyphicon glyphicon-book"></span> 录入档案信息
          </a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-search"></span> 查询统计
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">基础数据查询</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">快捷查询</li>
              <li><a href="#">当月退休人员</a></li>
              <li><a href="#">女管理岗位</a></li>
              <li><a href="#">特殊工种</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="disabled"><a href="#">
            <span class="glyphicon glyphicon-wrench"></span> 系统设置
          </a></li>
          <li class="disabled">
            <a href="#">
              <span class="glyphicon glyphicon-log-out"></span> 退出
            </a>
          </li>
        </ul>
      </div>
    </nav>
    {% block content %}
    {% endblock %}
    <div class="footer">
      <div class="row">
        <div class="col-md-4">
          <p class="text-center">
            <span class="glyphicon glyphicon-warning-sign"></span>
            <a href="#"><strong>反馈问题</strong></a>
          </p>
        </div>
        <div class="col-md-4">
          <p class="text-center text-danger">
            <span class="glyphicon glyphicon-wrench"></span>
            <strong>[技术支持] 电话：18686853420；QQ：2340538</strong>
          </p>
        </div>
        <div class="col-md-4">
          <p class="text-center">
            <a href="#"><strong>&copy; 成铭科技 2013</strong></a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
</body>
</html>
