{% extends "template/base.html" %}
{% block content %}
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="page-header">
        <h2>档案管理系统 <small> 导入基础数据</small></h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>--</strong></h3>
        </div>
        <div class="panel-body">
          <form
            class="form-horizontal"
            role="form"
            action="/daoru"
            method="post">
            <div class="form-group">
              <label for="file" class="col-md-3 control-label">
                数据文件
              </label>
              <div class="col-md-8">
                <input type="file" class="form-control" id="file">
              </div>
            </div>
            <hr />
            <div class="form-group">
              <div class="col-md-8 col-md-offset-3">
                <button type="submit" class="btn btn-danger">
                  确认导入
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>登录</strong></h3>
        </div>
        <div class="panel-body">
          <form role="form">
            <div class="form-group col-md-10 col-md-offset-1">
              <label for="exampleInputEmail1">帐号</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="输入帐号">
            </div>
            <div class="form-group col-md-10 col-md-offset-1">
              <label for="exampleInputPassword1">密码</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="输入密码">
            </div>
          </form>
        </div>
        <div class="panel-footer">
          <p class="text-center">
            <a class="btn btn-mini btn-danger" href="/">
              登录 &raquo;
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
