{% extends "template/base.boot.html" %}
{% block title %}录入档案信息 <small>基础信息</small>{% endblock %}
{% block content %}
    <div class="row-fluid">
      <div class="span8 offset2">
        <form class="form-horizontal" role="form" action="/luru" method="post">
          <fieldset>
            <legend>档案基础信息</legend>
            <div class="control-group">
              <label class="control-label" for="aid">档案号</label>
              <div class="controls">
                <input class="input-small" type="text" id="aid" name="aid">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="idcard">身份证</label>
              <div class="controls">
                <input class="input-large" type="text" id="idcard" name="idcard">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="name">姓名</label>
              <div class="controls">
                <input class="input-small" type="text" id="name" name="name">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="gender">性别</label>
              <div class="controls">
                <select class="input-mini" type="text" id="gender" name="gender">
                  <option>男</option>
                  <option>女</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="dob-y">出生日期</label>
              <div class="controls controls-row">
                <input class="input-mini" type="text" id="dob-y" name="dob-year" placeholder="年">
                <input class="input-mini" type="text" id="dob-m" name="dob-month" placeholder="月">
                <input class="input-mini" type="text" id="dob-d" name="dob-date" placeholder="日">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="dor-y">预退休日期</label>
              <div class="controls controls-row">
                <input class="input-mini" type="text" id="dor-y" name="dor-year" placeholder="年">
                <input class="input-mini" type="text" id="dor-m" name="dor-month" placeholder="月">
                <input class="input-mini" type="text" id="dor-d" name="dor-date" placeholder="日">
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <label class="checkbox inline">
                  <input type="checkbox" name="check" value="female"> 女管理岗位
                </label>
                <label class="checkbox inline">
                  <input type="checkbox" name="check" value="stow"> 特殊工种
                </label>
              </div>
            </div>
            <div class="form-actions">
              <button type="submit" class="btn btn-danger">确认提交</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
{% endblock %}
