{% extends "template/base.html" %}
{% block content %}
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="page-header">
          <h2>录入档案信息 <small>基础信息</small></h2>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>档案基础信息</strong></h3>
        </div>
        <div class="panel-body">
          <form
            class="form-horizontal"
            role="form"
            action="/luru"
            method="post">
            <p><div class="input-group input-group-lg">
              <span class="input-group-addon"><strong>档案号</strong></span>
              <input type="text" class="form-control input-lg" name="aid">
            </div></p>
            <p><div class="input-group">
              <span class="input-group-addon">身份证</span>
              <input type="text" class="form-control input-lg" name="idcard">
            </div></p>
            <p><div class="input-group">
              <span class="input-group-addon">姓名</span>
              <input type="text" class="form-control input-lg" name="name">
            </div></p>
            <p><div class="input-group">
              <span class="input-group-addon">性别</span>
              <select type="text" class="form-control input-lg" name="gender">
                <option>男</option>
                <option>女</option>
              </select>
            </div></p>
            <p><div class="input-group">
              <span class="input-group-addon">出生日期</span>
              <input type="date" class="form-control input-lg" name="dob">
            </div></p>
            <p><div class="input-group">
              <span class="input-group-addon">预退休日期</span>
              <input type="date" class="form-control input-lg" name="retiredate">
            </div></p>
            <p><div class="checkbox">
              <label>
                <input type="checkbox" name="check" value="female"> 女管理岗位
              </label>
            </div></p>
            <p><div class="checkbox">
              <label>
                <input type="checkbox" name="check" value="stow"> 特殊工种
              </label>
            </div></p>
            <hr />
            <button type="submit" class="btn btn-danger">确认提交</button>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
