{% extends "template/base.html" %}
{% block content %}
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="page-header">
          <h2>录入档案信息 <small>扫描档案</small></h2>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>档案基础信息</strong></h3>
        </div>
        <div class="panel-body">
        </div>
      </div>
    </div>
{% endblock %}
