{% extends "base.html" %}
{% block title %}档案查阅<br /><small></small>{% endblock %}
{% block content %}
    <div class="row-fluid">
      <div class="span8 offset2">
        <table class="table">
          <tr>
            <td><h3>身份证</h3></td>
            <td><h3>{{ row[0] }}</h3></td>
          </tr>
          <tr>
            <td><h3>姓名</h3></td>
            <td><h3>{{ row[1] }}</h3></td>
          </tr>
          <tr>
            <td><h3>预退休日期</h3></td>
            <td><h3>{{ row[2] }}</h3></td>
          </tr>
        </table>
      </div>
    </div>
{% endblock %}


