{% extends "base.html" %}
{% block title %}档案查阅<br /><small></small>{% endblock %}
{% block content %}
    <div class="row-fluid">
      <div class="span8 offset2">
        <table class="table">
          <tr>
            <td><h2>身份证</h2></td>
            <td><h2>{{ row[0] }}</h2></td>
          </tr>
          <tr>
            <td><h2>姓名</h2></td>
            <td><h2>{{ row[1] }}</h2></td>
          </tr>
          <tr>
            <td><h2>预退休日期</h2></td>
            <td><h2>{{ row[2] }}</h2></td>
          </tr>
        </table>
      </div>
    </div>
{% endblock %}


