{% extends "base.html" %}
{% block user %}{{ User }}{% endblock %}
{% block title %}个人档案<br /><small></small>{% endblock %}
{% block content %}
<div class="row-fluid">
  <div class="span10 offset1">
    <form action="" method="POST" class="form-inline">
      <p class="text-center">
        <select name="operate">
          {% if row[4] == 1 %}
          <option value="cancel_access">取消导出到用户查询</option>
          {% else %}
          <option value="access">导出到用户查询</option>
          {% endif %}
          <option value="turn">上下翻转</option>
          <option value="delete">删除图片</option>
        </select>
        <button type="submit" class="btn btn-danger">确认</button>
        {% if previous_id %}
        <a href="/chakan/{{ archieve_id }}?pic_id={{ previous_id }}" class="btn">上一页</a>
        {% endif %}
        {% if next_id %}
        <a href="/chakan/{{ archieve_id }}?pic_id={{ next_id }}" class="btn">下一页</a>
        {% endif %}
      </p>
    </form>
    <p class="text-center">
      <img src="{{ fs_root }}/{{ aid }}/{{ row[2] }}" />
    </p>
  </div>
</div>
{% endblock %}
