{% extends "base.html" %}
{% block user %}{{ User }}{% endblock %}
{% block title %}个人档案<br /><small></small>{% endblock %}
{% block content %}
<div class="row-fluid">
  <div class="span10 offset1">
    <form action="" method="POST" class="form-inline">
      <p class="text-center">
        <select name="operate">
          {% if row[4] == 1 %}
          <option value="cancel_access">取消导出到用户查询</option>
          {% else %}
          <option value="access">导出到用户查询</option>
          {% endif %}
          <option value="turn">上下翻转</option>
          <option value="rotate">旋转图片</option>
          <option value="delete">删除图片</option>
          <option value="movetocat1">转移到：就业类</option>
          <option value="movetocat2">转移到：职工历年调整工资审批表</option>
          <option value="movetocat3">转移到：职工登记表</option>
          <option value="movetocat4">转移到：历次调转介绍信</option>
          <option value="movetocat5">转移到：养老保险转移单与解除关系备案登记表</option>
          <option value="movetocat6">转移到：职称材料</option>
          <option value="movetocat7">转移到：学历材料</option>
          <option value="movetocat8">转移到：入党、团及职务变动</option>
          <option value="movetocat9">转移到：其它</option>
        </select>
        <button type="submit" class="btn btn-danger">确认</button>
        <a href="/dayin/{{ archieve_id }}?pic_id={{ pic_id }}" class="btn btn-success" target="_blank">打印</a>
        <a href="/dangan/{{ archieve_id }}" class="btn btn-primary">返回</a>
        {% if previous_id %}
        <a href="/chakan/{{ archieve_id }}?pic_id={{ previous_id }}" class="btn">上一页</a>
        {% endif %}
        {% if next_id %}
        <a href="/chakan/{{ archieve_id }}?pic_id={{ next_id }}" class="btn">下一页</a>
        {% endif %}
      </p>
    </form>
    <p class="text-center">
      <input type="button" value="缩小" onclick="zoomOut()" />
      <input type="button" value="放大" onclick="zoomIn()" />
      <br />
      <img alt="" border="0" id="img" name="img" src="{{ fs_root }}/{{ aid }}/{{ row[2] }}" />
    </p>
  </div>
</div>
{% endblock %}
{% block jslib %}
<script language="javascript" type="text/javascript">
function zoomOut() {
    img.height = img.height / 1.2;
    img.width = img.width / 1.2;
}
function zoomIn() {
    img.height = img.height * 1.2;
    img.width = img.width * 1.2;
}
</script>
{% endblock %}

