{% extends "base.html" %}
{% block user %}{{ User }}{% endblock %}
{% block title %}个人档案<br /><small></small>{% endblock %}
{% block content %}
<div class="row-fluid">
  <div class="span10 offset1">
    <form action="" method="POST" class="form-inline">
      <p class="text-center">
        <select name="operate">
          <option value="turn">上下翻转</option>
          <option value="delete">删除图片</option>
        </select>
        <button type="submit" class="btn btn-danger">确认</button>
        <a href="/chakan/" class="btn">Previous</button>
        <a href="/chakan/" class="btn">Next</button>
      </p>
    </form>
    <p class="text-center">
      <img src="{{ fs_root }}/{{ aid }}/{{ row[2] }}" />
    </p>
  </div>
</div>
{% endblock %}