{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block title %}综合查询 <small></small>{% endblock %}
{% block content %}
<div class="row-fluid">
  <div class="span8 offset2">
    <form action="/chaxun" method="POST">
      <input name="DangAnHao" class="span4" type="text" placeholder="档案号">
      <br />
      <input name="ShenFenZheng" class="span4" type="text" placeholder="身份证">
      <input name="XingMing" class="span3" type="text" placeholder="姓名">
      <select name="XingBie" class="span2" type="text" id="gender">
        <option>男</option>
        <option>女</option>
      </select>
      <br />
      <button type="reset" class="btn">重置</button>
      <button type="submit" class="btn btn-danger">提交</button>
    </form>
  </div>
</div>
{% endblock %}
