{% extends "base.html" %}
{% block user %}{{ User }}{% endblock %}
{% block title %}个人档案<br /><small>基本信息</small>{% endblock %}
{% block content %}
<div class="row-fluid">
    <p class="text-center">
        <a href="{{ link1 }}" class="btn btn-primary">扫描该档案</a>
        <a href="/shangchuan/{{ id }}" class="btn btn-success">上传该档案</a>
        <a href="/gen_code/{{ id }}" class="btn btn-inverse">查询密码({{ row[13] }})</a>
    </p>
    <form class="form-inline" action="/delete_archieve/{{ id }}" method="post">
        <p class="text-center">
            <select name="reason">
                <option value=""{% if row[12] == "非转出状态" %} selected{% endif %}>非转出状态</option>
                <option value="调转"{% if row[12] == "调转" %} selected{% endif %}>转出原因：调转</option>
                <option value="退休"{% if row[12] == "退休" %} selected{% endif %}>转出原因：退休</option>
                <option value="失业保险"{% if row[12] == "失业保险" %} selected{% endif %}>转出原因：失业保险</option>
                <option value="死亡"{% if row[12] == "死亡" %} selected{% endif %}>转出原因：死亡</option>
            </select>
            <button class="btn btn-danger" type="submit">确认</button>
        </p>
    </form>
</div>
<div class="row-fluid">
    <div class="span3" style="background-color:#E0E0F8">
        <h4>基础信息</h4>
        <hr />
        <dl class="dl">
            <dt>档案号</dt>
            <dd>{{ row[1] }}</dd>
        </dl>
        <form class="form-horizontal" role="form" action="/dangan/{{ id }}" method="post">
            <input type="hidden" name="hidden1" id="hidden1" value="{{ row[4] }}" />
            <input type="hidden" name="hidden2" id="hidden2" value="{{ dob[0] }}" />
            <dl class="dl">
                <dt>身份证</dt>
                <dd><input type=text name=shenfenzheng value="{{ row[2] }}" /></dd>
            </dl>
            <dl class="dl">
                <dt>姓名</dt>
                <dd><input class=input-mini type=text name=xingming value={{ row[3] }} /></dd>
            </dl>
            <dl class="dl">
                <dt>性别</dt>
                <dd>{{ row[4] }}</dd>
            </dl>
            <h4>附加信息</h4>
            <hr />
            <dl class="dl">
                <dt>出生日期</dt>
                <dd>
                    <input id="dob-year" onblur="check_year()" class="input-mini" type="text" name="dob-year" placeholder="年" value="{{ dob[0] }}">
                    <input id="dob-month" onblur="check_month()" class="input-mini" type="text" name="dob-month" placeholder="月" value="{{ dob[1] }}">
                    <input id="dob-date" onblur="check_date()" class="input-mini" type="text" name="dob-date" placeholder="日" value="{{ dob[2] }}">
                </dd>
            </dl>
            <dl class="dl">
                <dt>预退休日期</dt>
                <dd>
                    <input class="input-mini" type="text" name="dor-year" placeholder="年" value="{{ dor[0] }}" id="dor-year">
                    <input class="input-mini" type="text" name="dor-month" placeholder="月" value="{{ dor[1] }}" id="dor-month">
                    <input class="input-mini" type="text" name="dor-date" placeholder="日" value="{{ dor[2] }}" id="dor-date">
                </dd>
            </dl>
            {% if row[4] == '女' %}
            <dl class="dl">
                <dt>是否为女管理岗位</dt>
                <dd>
                    <input id="female" type="checkbox" name="check" value="female" onClick="check_female()"{% if row[10] == 1 %} checked{% endif %}>
                </dd>
            </dl>
            {% endif %}
            <dl class="dl">
                <dt>是否为特殊工种</dt>
                <dd>
                    <input id="stow" type="checkbox" name="check" value="stow" onClick="check_stow()"{% if row[11] == 1 %} checked{% endif %}>
                </dd>
            </dl>
            <dl class="dl">
                <dt></dt>
                <dd>
                    <button type="submit" class="btn btn-danger">确认提交</button>
                </dd>
            </dl>
        </form>
    </div>
    <div class="span9" style="background-color:#FBEFF2">
        <form action="/dangan/{{ id }}" method="get" class="form-horizontal">
            <p class=text-center>
                <select name="cat" value="1" id="selCat" onChange="selOnChange()">
                    <option value="0"{% if cat == '0' %} selected{% endif %}>所有</option>
                    <option value=1{% if cat == '1' %} selected{% endif %}>就业类</option>
                    <option value=2{% if cat == '2' %} selected{% endif %}>职工历年调整工资审批表</option>
                    <option value=3{% if cat == '3' %} selected{% endif %}>职工登记表</option>
                    <option value=4{% if cat == '4' %} selected{% endif %}>历次调转介绍信</option>
                    <option value=5{% if cat == '5' %} selected{% endif %}>养老保险转移单与解除关系备案登记表</option>
                    <option value=6{% if cat == '6' %} selected{% endif %}>职称材料</option>
                    <option value=7{% if cat == '7' %} selected{% endif %}>学历材料</option>
                    <option value=8{% if cat == '8' %} selected{% endif %}>入党、团及职务变动</option>
                    <option value=9{% if cat == '9' %} selected{% endif %}>其它</option>
                </select>
                <button type="submit" class="btn">确认</button>
            </p>
        </form>
        <div class="row-fluid">
            <p class="text-left">共有{{ pic_count }}个图片。下载[ <a href="/dl_zip/{{ id }}">导出文件压缩包</a> ]</p>
            <form action="/exp2client/{{ id }}" method="post">
                <ul class="thumbnails">
                    <br />
                    {% for row1 in data1: %}
                    <li class="span3">
                        <a href="/chakan/{{ id }}?pic_id={{ row1[0] }}" class="thumbnail">
                            <img data-src="holder.js/260x120" alt="" src={{ fs_root }}/{{ aid }}/{{ row1[3] }}>
                        </a>
                        <label><input name="pic_id" type="checkbox" value="{{ row1[0] }}"{% if row1[4] == 1 %} checked{% endif %} /> 终端可见</label>
                    </li>
                    {% endfor %}
                </ul>
                <p class="text-right">
                    <input id="checkAll" type="checkbox" onclick="selectAll(this);" /> 全选
                    <button type="submit" class="btn btn-primary">调整终端可见状态</button>
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block jslib %}
<script language="JavaScript">
    function check_year() {
        var csrqs =document.getElementById("hidden2").value;
        var dob =document.getElementById("dob-year").value;
        var c;
        c=String(Number(csrqs)-Number(dob));
        var nv =document.getElementById("hidden1").value;
        if(nv=="男") {
            var obj = document.getElementById("stow");
            var checked = obj.checked;
            if (checked) {
                document.getElementById("dor-year").value=String(Number(csrqs)+60-Number(c)-5);
            }
            else {
                document.getElementById("dor-year").value=String(Number(csrqs)+60-Number(c));
            }
        }
        else {
            var obj = document.getElementById("stow");
            var checked = obj.checked;
            var objs = document.getElementById("female");
            var checkeds = objs.checked;
            if (checked) {
                document.getElementById("dor-year").value=String(Number(csrqs)+50-Number(c)-5);
            }
            else if (checkeds) {
                document.getElementById("dor-year").value=String(Number(csrqs)+50-Number(c)+5);
            }
            else {
                document.getElementById("dor-year").value=String(Number(csrqs)+50-Number(c));
            }
        }
    }
    function check_month() {
        var month =document.getElementById("dob-month").value;
        document.getElementById("dor-month").value=month;
    }
    function check_date() {
        var date =document.getElementById("dob-date").value;
        document.getElementById("dor-date").value=date;
    }

    function check_stow() {
        //特殊工种
        var obj = document.getElementById("stow");
        var checked = obj.checked;
        var year;
        var obj_year = document.getElementById("dor-year");
        year = obj_year.value;
        if (checked) {
            obj_year.value = String(Number(year) - 5);
        }
        else {
            obj_year.value = String(Number(year) + 5);
        }
    }
    function check_female() {
        //女管理岗位
        var obj = document.getElementById("female");
        var checked = obj.checked;
        var year;
        var obj_year = document.getElementById("dor-year");
        year = obj_year.value;
        if (checked) {
            obj_year.value = String(Number(year) + 5);
        }
        else {
            obj_year.value = String(Number(year) - 5);
        }
    }
</script>
 <script type="text/javascript" src="/static/js/jquery-1.4.4.min.js"></script>

    <script type="text/javascript">  
 
             function selectAll(checkbox) {  
 
                 $('input[type=checkbox]').attr('checked', $(checkbox).attr('checked'));  
 
             }  
 
    </script>
{% endblock %}
