{% extends "base.html" %}
{% block user %}{{ User }}{% endblock %}
{% block title %}档案管理系统<br /><small> 首页</small>{% endblock %}
{% block content %}
    <div class="row-fluid">
      <div class="span8 offset2">
        <form class="form-horizontal" role="form" action="/" method="post">
          <div class="input-append">
            <input class="input-block-level" type="text" name="id">
            <span class="input-group-btn">
              <button class="btn btn-danger" type="submit">检索</button>
            </span>
          </div>
        </form>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span8 offset2">
        <h3>
          <strong>
            共计
            {{ data_count[0][0] }}
            份档案，其中
            {{ data_count[1][0] }}
            份档案共含有
            {{ data_count[2][0] }}
            个图片文件
          </strong>
        </h3>
      </div>
    </div>
{% endblock %}
