@@ -1,6 +1,6 @@

 <!DOCTYPE html>
 <html>
 <head>
   <title>妗ｆ¡堢®＄悊</title>
   <meta charset="utf-8">
@@ -17,105 +17,35 @@
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </a>
         <a class="brand" href="#"><strong>鍝堝皵婊ㄥ競浜哄姏璧勬簮甯傚満</strong></a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="/">棣栭〉</a></li>
            <li><a href="/daoru">瀵煎叆鍩虹¡€鏁版嵁</a></li>
            <li><a href="/luru">褰曞叆妗ｆ¡堜俊鎭¯</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                鏌ヨ¯㈢粺璁¡
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/chaxun">鍩虹¡€鏁版嵁鏌ヨ¯¢</a></li>
                <li><a href="/chaxun/dytx">鎸囧畾鏈堜唤閫€浼戜汉鍛</a></li>
                <li class="divider"></li>
                <li class="dropdown-header"></li>
                <li><a href="/tongji">缁熻®¡</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav pull-right">
            <li><a href="/xgmm">娴嬭瘯</a></li>
            <li><a href="/logout">閫€鍑º</a></li>
          </ul>
        </div>       
       </div>
     </div>
   </div>
 
  <div class="container-fluid" style="background-color:Ivory">
    <div class="row-fluid">
      <div class="span10 offset1">
        <div class="page-header">
          <h2><p class="text-center">涓ª浜烘。妗<br /><small></small></p></h2>
        </div>
      </div>
    </div>
  </div>
 
   <div class="container-fluid" style="background-color:Ivory">
 
 <div class="row-fluid">
   <div class="span10 offset1">
    <form action="" method="POST" class="form-inline">
      <p class="text-center">
        <select name="operate">

          <option value="cancel_access">鍙栨秷瀵煎嚭鍒扮敤鎴锋煡璇¢</option>
 
          <option value="turn">涓婁笅缈昏浆</option>
          <option value="delete">鍒犻櫎鍥剧墖</option>
        </select>
        <button type="submit" class="btn btn-danger">纭®璁¤</button>
        <a href="/dangan/39" class="btn btn-primary">杩斿洖</a>

        <a href="/chakan/39?pic_id=43" class="btn">涓婁竴椤µ</a>


      </p>
    </form>
    <p class="text-center">

     <input type="button" value="缂╁皬" onclick="small1()" />
     <input type="button" value="鏀惧ぇ" onclick="big1()" />
     <br />


     </p>
  </div>
</div>
 
   </div>
    <img alt="" border="0" id="images1" name="images1" src="/static/upload/10101011/001.jpg" onclick="javascript:window.open(this.src);"
        style="cursor: pointer;" onload="return imgzoom(this,600);" />

  <div class="navbar navbar-bottom navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#"><strong>妗ｆ¡堢®＄悊绯荤粺</strong></a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href=#>[鎶€鏈¯鏀¯鎸乚鐢佃瘽锛18686853420锛決Q锛2340538</a></li>
            <li></li>
          </ul>
          <ul class="nav pull-right">
            <li><a href=#><strong>&copy; 鎴愰摥绉戞妧 2013</strong></a></li>
          </ul>
        </div>
      </div>
    </div>

   </div>
   <script src="/static/js/jquery-1.10.2.min.js"></script>
   <script src="/static/js/bootstrap.min.js"></script>

 <script language="javascript" type="text/javascript">
 function small1(){
   var height1=images1.height
   var width1=images1.width
   images1.height=height1/1.5
@@ -126,8 +56,7 @@ function big1(){
   var width1=images1.width
   images1.height=height1*1.5
   images1.width=width1*1.5
 }
 </script>

 </body>
 </html>
\ No newline at end of file

