{% extends "base.html" %}
{% block user %}{{ User }}{% endblock %}
{% block title %}时段统计<br /><small></small>{% endblock %}
{% block content %}
<form class="form-inline">
  <p class="text-center">
    <input type="text" name="year_begin" class="span1">年
    <select name="month_begin" class="span2">
      <option value="01">一月</option>
      <option value="02">二月</option>
      <option value="03">三月</option>
      <option value="04">四月</option>
      <option value="05">五月</option>
      <option value="06">六月</option>
      <option value="07">七月</option>
      <option value="08">八月</option>
      <option value="09">九月</option>
      <option value="10">十月</option>
      <option value="11">十一月</option>
      <option value="12">十二月</option>
    </select>月
    <select name='day_begin' class="span1">
      <option value="01">1</option>
      <option value="02">2</option>
      <option value="03">3</option>
      <option value="04">4</option>
      <option value="05">5</option>
      <option value="06">6</option>
      <option value="07">7</option>
      <option value="08">8</option>
      <option value="09">9</option>
      {% for i in range(10, 32) %}
      <option value="{{ i }}">{{ i }}</option>
      {% endfor %}
    </select>日<span class="label label-info">至</span>
    <input type="text" name="year_end" class="span1">年
    <select name="month_end" class="span2">
      <option value="01">一月</option>
      <option value="02">二月</option>
      <option value="03">三月</option>
      <option value="04">四月</option>
      <option value="05">五月</option>
      <option value="06">六月</option>
      <option value="07">七月</option>
      <option value="08">八月</option>
      <option value="09">九月</option>
      <option value="10">十月</option>
      <option value="11">十一月</option>
      <option value="12">十二月</option>
    </select>月
    <select name='day_end' class="span1">
      <option value="01">1</option>
      <option value="02">2</option>
      <option value="03">3</option>
      <option value="04">4</option>
      <option value="05">5</option>
      <option value="06">6</option>
      <option value="07">7</option>
      <option value="08">8</option>
      <option value="09">9</option>
      {% for i in range(10, 32) %}
      <option value="{{ i }}">{{ i }}</option>
      {% endfor %}
    </select>日
    <button class="btn btn-primary" value="submit">确认</button>
  </p>
</form>
<div class="row-fluid">
  <div class="span8 offset2">
    <div id="container"></div>
  </div>
</div>
{% endblock %}
{% block jslib %}
<script src="/static/highcharts/3.0.9/highcharts.js"></script>
<script>
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: '时段操作统计 {{ date_begin }}至{{ date_end }}'
        },
        subtitle: {
            text: '数据内容为扫描并上传档案的份数'
        },
        xAxis: {
            categories: [
            {%- for row in rows -%}
                {%- if loop.last -%}
                '{{ row.mingcheng }}'
                {%- else -%}
                '{{ row.mingcheng }}',
                {%- endif -%}
            {%- endfor -%}
            ]
        },
        yAxis: {
            title: {
                text: '数量'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: '时段操作统计 {{ date_begin }}至{{ date_end }}',
            data: [
            {%- for row in rows -%}
                {%- if loop.last -%}
                {{ row.counter }}
                {%- else -%}
                {{ row.counter }},
                {%- endif -%}
            {%- endfor -%}
            ]
        }]
    });
});
</script>
{% endblock %}
