{% extends "base.html" %}
{% block user %}{{ User }}{% endblock %}
{% block title %}统计<br /><small></small>{% endblock %}
{% block content %}
<form class="form-inline">
  <p class="text-center">
    <input type="text" name="year" class="span2">年
    <select name="month" class="span2">
      <option value="01">一月</option>
      <option value="02">二月</option>
      <option value="03">三月</option>
      <option value="04">四月</option>
      <option value="05">五月</option>
      <option value="06">六月</option>
      <option value="07">七月</option>
      <option value="08">八月</option>
      <option value="09">九月</option>
      <option value="10">十月</option>
      <option value="11">十一月</option>
      <option value="12">十二月</option>
    </select>
    <button class="btn btn-primary" value="submit">确认</button>
  </p>
</form>
<div class="row-fluid">
  <div class="span8 offset2">
    <div id="container"></div>
  </div>
</div>
{% endblock %}
{% block jslib %}
<script src="/static/js/highcharts.js"></script>
<script>
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: '月份操作统计（{{ date }}）'
        },
        subtitle: {
            text: '数据内容为扫描并上传档案的份数'
        },
        xAxis: {
            categories: [
            {%- for row in counter_1 -%}
                {%- if loop.last -%}
                '{{ row[0] }}'
                {%- else -%}
                '{{ row[0] }}',
                {%- endif -%}
            {%- endfor -%}
            ]
        },
        yAxis: {
            title: {
                text: '数量'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: '月份操作统计（{{ date }}）',
            data: [
            {%- for row in counter_1 -%}
                {%- if loop.last -%}
                {{ row[1] }}
                {%- else -%}
                {{ row[1] }},
                {%- endif -%}
            {%- endfor -%}
            ]
        }]
    });
});
</script>
{% endblock %}
