{% extends "base.boot.html" %}
{% block head %}
{% endblock %}
{% block title %}个人档案 <small>基本信息</small>{% endblock %}
{% block content %}
    <div class="row-fluid">
      <div class="span8 offset2">
        <dl class="dl-horizontal">
          <dt>档案号</dt>
          <dd>{{ row[1] }}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>身份证</dt>
          <dd>{{ row[2] }}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>姓名</dt>
          <dd>{{ row[3] }}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>性别</dt>
          <dd>{{ row[4] }}</dd>
        </dl>
        <form class="form-horizontal" role="form" action="/dangan/{{ id }}" method="post">
          <legend>附加信息</legend>
          <dl class="dl-horizontal">
            <dt>出生日期</dt>
            <dd>
              <input class="input-mini" type="text" name="dob-year" placeholder="年" value="{{ dob[0] }}">
              <input class="input-mini" type="text" name="dob-month" placeholder="月" value="{{ dob[1] }}">
              <input class="input-mini" type="text" name="dob-date" placeholder="日" value="{{ dob[2] }}">
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>预退休日期</dt>
            <dd>
              <input class="input-mini" type="text" name="dor-year" placeholder="年" value="{{ dor[0] }}">
              <input class="input-mini" type="text" name="dor-month" placeholder="月" value="{{ dor[1] }}">
              <input class="input-mini" type="text" name="dor-date" placeholder="日" value="{{ dor[2] }}">
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>是否为女管理岗位</dt>
            {% if row[10] == 1 %}
            <dd>
              <input type="checkbox" name="check" value="female" checked>
            </dd>
            {% else %}
            <dd>
              <input type="checkbox" name="check" value="female">
            </dd>
            {% endif %}
          </dl>
          <dl class="dl-horizontal">
            <dt>是否为特殊工种</dt>
            {% if row[11] == 1 %}
            <dd>
              <input type="checkbox" name="check" value="stow" checked>
            </dd>
            {% else %}
            <dd>
              <input type="checkbox" name="check" value="stow">
            </dd>
            {% endif %}
          </dl>
          <dl class="dl-horizontal">
            <dt></dt>
            <dd>
              <button type="submit" class="btn btn-danger">确认提交</button>
              <a href="{{ link1 }}" class="btn btn-success">为该档案添加图片文件</a>
              <a href="/shangchuan/{{ id }}" class=btn>上传已扫描文件</a>
            </dd>
          </dl>
        </form>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span8 offset2">
        <form action=/dangan/{{ id }} method=get class="form-horizontal">
          <p class=text-center>
            <select name=cat value=1 id=selCat onChange=selOnChange()>
              {% if cat == '0' %}
              <option value=0 selected>所有</option>
              {% else %}
              <option value=0>所有</option>
              {% endif %}
              {% if cat == '1' %}
              <option value=1 selected>就业类</option>
              {% else %}
              <option value=1>就业类</option>
              {% endif %}
              {% if cat == '2' %}
              <option value=2 selected>职工历年调整工资审批表</option>
              {% else %}
              <option value=2>职工历年调整工资审批表</option>
              {% endif %}
              {% if cat == '3' %}
              <option value=3 selected>职工登记表</option>
              {% else %}
              <option value=3>职工登记表</option>
              {% endif %}
              {% if cat == '4' %}
              <option value=4 selected>历次调转介绍信</option>
              {% else %}
              <option value=4>历次调转介绍信</option>
              {% endif %}
              {% if cat == '5' %}
              <option value=5 selected>养老保险转移单与解除关系备案登记表</option>
              {% else %}
              <option value=5>养老保险转移单与解除关系备案登记表</option>
              {% endif %}
              {% if cat == '6' %}
              <option value=6 selected>职称材料</option>
              {% else %}
              <option value=6>职称材料</option>
              {% endif %}
              {% if cat == '7' %}
              <option value=7 selected>学历材料</option>
              {% else %}
              <option value=7>学历材料</option>
              {% endif %}
              {% if cat == '8' %}
              <option value=8 selected>入党、团及职务变动</option>
              {% else %}
              <option value=8>入党、团及职务变动</option>
              {% endif %}
              {% if cat == '9' %}
              <option value=9 selected>其它</option>
              {% else %}
              <option value=9>其它</option>
              {% endif %}
            </select>
            <button type="submit" class="btn">确认</button>
          </p>
        </form>
        <div id="myCarousel" class="carousel slide" data-interval="false">
          <!-- Carousel items -->
          <div class="carousel-inner">
          {% for row1 in data1 %}
            {% if row1 == data1[0] %}
            <div class="active item">
            {% else %}
            <div class="item">
            {% endif %}
              <div class="carousel-caption">
                <h4>{{ row1[3] }}</h4>
              </div>
              <p class="text-center">
                <img src="{{ fs_root }}/{{ aid }}/{{ row1[3] }}" />
              </p>
            </div>
          {% endfor %}
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
      </div>
    </div>
{% endblock %}
{% block jslib %}
{% endblock %}