{% extends "base.boot.html" %}
{% block title %}个人档案 <small>基本信息</small>{% endblock %}
{% block content %}
    <div class="row-fluid">
      <div class="span8 offset2">
        <dl class="dl-horizontal">
          <dt>档案号</dt>
          <dd>{{ row[1] }}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>身份证</dt>
          <dd>{{ row[2] }}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>姓名</dt>
          <dd>{{ row[3] }}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>性别</dt>
          <dd>{{ row[4] }}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>出生日期</dt>
          <dd>{{ row[5] }}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>预退休日期</dt>
          <dd>{{ row[6] }}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>是否为女管理干部</dt>
          {% if row[10] == 1 %}
          <dd>是</dd>
          {% else %}
          <dd>否</dd>
          {% endif %}
        </dl>
        <dl class="dl-horizontal">
          <dt>是否为特殊工种</dt>
          {% if row[11] == 1 %}
          <dd>是</dd>
          {% else %}
          <dd>否</dd>
          {% endif %}
        </dl>
      </div>
    </div>
{% endblock %}
