{% extends "base.html" %}
{% block user%}{{ User }}{% endblock %}
{% block title %}上传档案文件<br /><small></small>{% endblock %}
{% block bodylib %}onload="showFlash();"{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="span2 offset1">
        <p class="text-center"><span class="label label-info">档案信息</span></p>
        <hr>
        <dl>
            <dt>档案号</dt>
            <dd>{{ row[1] }}</dd>
            <dt>姓名</dt>
            <dd>{{ row[3] }}</dd>
            <dt>身份证</dt>
            <dd>{{ row[2] }}</dd>
            <dt>性别</dt>
            <dd>{{ row[4] }}</dd>
        </dl>
        <p class="text-center"><a class="btn btn-primary" href="/dangan/{{ id }}">返回</a></p>
    </div>
    <div class="span8">
        <p class=text-center>
            请选择类别
            <select id=cat name=cat value=1 onChange="setParam(this.id);">
                {% if cat == '1' %}
                <option value=1 selected>就业类</option>
                {% else %}
                <option value=1>就业类</option>
                {% endif %}
                {% if cat == '2' %}
                <option value=2 selected>职工历年调整工资审批表</option>
                {% else %}
                <option value=2>职工历年调整工资审批表</option>
                {% endif %}
                {% if cat == '3' %}
                <option value=3 selected>职工登记表</option>
                {% else %}
                <option value=3>职工登记表</option>
                {% endif %}
                {% if cat == '4' %}
                <option value=4 selected>历次调转介绍信</option>
                {% else %}
                <option value=4>历次调转介绍信</option>
                {% endif %}
                {% if cat == '5' %}
                <option value=5 selected>养老保险转移单与解除关系备案登记表</option>
                {% else %}
                <option value=5>养老保险转移单与解除关系备案登记表</option>
                {% endif %}
                {% if cat == '6' %}
                <option value=6 selected>职称材料</option>
                {% else %}
                <option value=6>职称材料</option>
                {% endif %}
                {% if cat == '7' %}
                <option value=7 selected>学历材料</option>
                {% else %}
                <option value=7>学历材料</option>
                {% endif %}
                {% if cat == '8' %}
                <option value=8 selected>入党、团及职务变动</option>
                {% else %}
                <option value=8>入党、团及职务变动</option>
                {% endif %}
                {% if cat == '9' %}
                <option value=9 selected>其它</option>
                {% else %}
                <option value=9>其它</option>
                {% endif %}
            </select>
        </p>
        <p class=text-center>
            <div id="divFlash">
                加载中...
        </div>
        <div id="divReturn">
        </div>
    </p>
</div>
</div>
{% endblock %}
{% block jslib %}
<script type="text/javascript" src="/static/swf/swfobject.js"></script>
<script type="text/javascript">
    var cat = "1";
    var params = {
        serverUrl: "/shangchuan/{{ id }}?cat={{ cat }}",
        jsFunction: "flashReturn",
        imageWidth: 0,
        imageHeight: 0
    }

    function showFlash() {
        swfobject.embedSWF("/static/swf/mFileUpload.swf", "divFlash", "300", "30", "10.0.0", "/static/swf/expressInstall.swf", params);
    }

    function flashReturn(type, str) {
        var divReturn = document.getElementById('divReturn');
        var span = document.createElement('span');
        span.innerHTML = '<b style="color:blue;">' + type + "</b>-" + str + "<br>";
        divReturn.appendChild(span);
    }

    function setPara()
    {
        var swf = document.getElementById('divFlash');
        if(!swf.isBusy())
        {
            swf.setPara('labelFormat','(%)');
        }
    }
    function setParam(id)
    {
        cat = document.getElementById(id).value;
        location.href = "/shangchuan/{{ id }}?cat=" + cat;
    }
</script>
{% endblock %}
