{% extends "base.boot.html" %}
{% block title %}录入档案信息 <small>上传档案图片/{{ id }}</small>{% endblock %}
{% block content %}
    <div class="row-fluid">
      <div class="span3 offset1" style="background-color:Lavender">
        <p class="text-center"><strong>档案信息</strong></p>
      </div>
      <div class="span7">
        <form role="form" action="/_shangchuan" method="post" enctype="multipart/form-data">
          <fieldset>
            <legend>上传文件</legend>
            <div id="file">
              <input type="file" name="file">
              <br>
            </div>
            <input name="" type="button" value="增加文件" onClick="AddElement()" /> 
            <div class="form-actions">
              <button type="submit" class="btn btn-danger">
                上传
              </button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
{% endblock %}
{% block jslib %}
  <script src="/static/js/funx.js"></script>
{% endblock %}