{% extends "base.pure.html" %}
{% block content %}
  <div class="container" style="background-color:lightgray">
    <div class="pure-g-r">
      <div class="pure-u-1-5"></div>
      <div class="pure-u-3-5">
        <h1>档案管理系统<small> 首页</small></h1>
        <hr>
      </div>
      <div class="pure-u-1-5"></div>
    </div>
  </div>
  <div class="container" style="background-color:lavender">
    <div class="pure-g-r">
      <div class="pure-u-1-5" style="background-color:thistle">
          <p>三分之一</p>
      </div>

      <div class="pure-u-1-5">
          <p>三分之一</p>
      </div>

      <div class="pure-u-1-5">
          <p>三分之一</p>
      </div>

      <div class="pure-u-1-5">
          <p>三分之一</p>
      </div>

      <div class="pure-u-1-5">
          <p>三分之一</p>
      </div>
    </div>
  </div>
</body>
</html>
{% endblock %}